html
  head
    title= title
  style
    include style.css
  body
    div.parser-list
        h1=title
        if !settings.pages
            div.index-form
                form(action='/settings' method='POST')
                    input(placeholder='Сколько страниц парсить' name='pages' type='number' value=settings.pages)
                    button.button(type='submit') Сохранить
        else
            div.index-form
                form(action='/clear' method='POST')
                    button.button(type='submit') Сбросить
        if settings.pages
            div.item
                div(style='text-align: center') Хост
                div(style='text-align: center') Страницы
                div(style='text-align: center') Действия
            each proxy in settings.proxy
                div.item
                    div=proxy.host
                    div.pages(style='text-align: center')=proxy.pages.join(', ')
                    div.actions
                        if !proxy.pid
                            a.button.runButton(href="/run/"+proxy.id) Запустить
                        else
                            a.button.stopButton(href="/stop/"+proxy.id) Остановить
                        a.button(href="/files/"+proxy.id) JSON
                        a.button(href="/process/"+proxy.id) Скриншоты
