html
  head
    title= title
  style
    include style.css
  body
    h1=title
    div.index
        if !parserProcess
            a.button.runButton(href="/run") Запустить парсинг
        else
            a.button.stopButton(href="/stop") Остановить парсинг
        a.button(href="/files") Результаты парсинга
        a.button(href="/process") Процесс парсинга
    div.index-form
        h1 HTTPS Прокси
        form(method='post' action='/proxy')
            div.form-input
                label(for='host') Хост вида (ip:port)
                input(placeholder='host' id='host' name='host' value=proxy.host)
            div.form-input
                label(for='username') Логин
                input(placeholder='Логин' id='username' name='username' value=proxy.username)
            div.form-input
                label(for='password') Пароль от прокси
                input(placeholder='Пароль' id='password' name='password' value=proxy.password)
            button.button(type='submit') Сохранить
        div Текущая страница парсинга: #{processParse.current} из #{processParse.last}
            a.button(href='clear') Сбросить