html
  head
    title= title
  style
    include style.css
  body
    div.parser-list
        h1=title
        a.link(
        href='https://www.avito.ru/moskva/predlozheniya_uslug/transport_perevozki/spetstekhnika-ASgBAgICAkSYC8SfAZoL3J8B?cd=1'
        target='_blank'
        ) Ссылка на страницу парсинга
        div.index-form
            if !settings.pages
                form(action='/settings' method='POST')
                    input(placeholder='Сколько страниц парсить' name='pages' type='number' value=settings.pages)
                    button.button(type='submit') Сохранить
            else
                form(action='/clear' method='POST')
                    .btn-group
                        button.button(type='submit') Сбросить
                        a.button.runButton(href="/files") JSON
                p Внимание, сброс приведет к удалению файлов предыдущих результатов парсинга
        if settings.pages
            div.item
                div(style='text-align: center') Хост
                div(style='text-align: center') Страницы
                div(style='text-align: center') Действия
            each proxy in settings.proxy
                div.item
                    div=proxy.host
                    div.pages(style='text-align: center')=proxy.pages.join(', ')
                    div.actions
                        if !proxy.pid
                            a.button.runButton(href="/run/"+proxy.id) Запустить
                        else
                            a.button.stopButton(href="/stop/"+proxy.id) Остановить
                        a.button(href="/process/"+proxy.id) Скриншоты
