
html
  head
    title= title
  style
    include style.css
  body
  h1=title
    div.process=process.current + ' страница из ' + process.last
    div.photos
        each image in images
            div.photo
                div.body
                    a(href=image.url target=_blank)
                        img(src=image.url)
                div.title
                    span=image.name