
html
  head
    title= title
  style
    include style.css
  body
  h1=title
    div.process='Скриншоты парсинга процесса #'+id
    div.photos
        each image in images
            div.photo
                div.body
                    a(href=`/${id}/${image.url}` target=_blank)
                        img(src=`/${id}/${image.url}`)
                div.title
                    span=image.name